{% extends "admin/index.html" %}
{% load paymentyears %}

{% block content %}
{{ block.super }}
{% endblock %}

{% block sidebar %}
{{ block.super }}

<div class="module">
	<table>
		<caption>EXPORT</caption>
		<tbody>
			<tr>
				<th scope="row">
					<a href="/people/adressliste">Schüler*i/Eltern Adressliste</a>
				</th>
				<td>(Excel)</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					<a href="/people/presence_form">An-/Abmeldeliste</a>
				</th>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					<a href="/people/emergency_notes">Notfallhinweise</a>
				</th>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					<a href="/people/students_csv/active">Aktive Schüler*i</a>
				</th>
				<td>(CSV)</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					<a href="/people/student_report">Zu-/Abgänge lfd. Halbjahr</a>
				</th>
				<td>(Excel)</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					<a href="/people/level_report">Bericht Klassenstufen</a>
				</th>
				<td>(vorläufig)</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					<a href="/people/mentor_report">Mentor*i</a>
				</th>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					<a href="/people/society_csv">Trägervereinsmitglieder</a>
				</th>
				<td>(CSV)</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					Alle Zahlungen {% paymentyears "/people/payments_csv" %}
				</th>
				<td>(CSV)</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					Durchschnittliche Zahlungen {% paymentyears "/people/payments_avg" %}
				</th>
				<td>(Text)</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
